html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



#div1{
    margin-left:25%;
}
ul li:hover{
    background-color:gray;
}
