html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    text-align:center;
  margin-bottom: 60px;
}

div {
    margin-left:25%;
}
li:hover{
    background-color:gray;
}